*{
  font-family: 'Montserrat', sans-serif;
}
body{
  overflow: hidden;
}
.details{
  background: #3e3e3e;
  padding:2.5%;
  padding-top:0;
  font-size:105%;
}
.details small{
  color:rgba(255,255,255,0.4);
}
.details{
  color:rgba(255,255,255,0.9);
}
.selectors{
  background:#535353;
}
.no-padding{
  padding:0;
}
.no-margin{
  margin:0;
}
.border-bottom{
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.menu-icon{
  background: #1876f6;
  padding:27%;
}
.menu-icon img{
  width:60%;
  margin-left:15%;
}
.selectors-holder{
  height:100vh;
  background:#535353;
}
.selector{
  background: #3e3e3e;
  padding:18%;
}
.selector img{
  width:60%;
  margin-left:15%;
}
.personal-info{
  background: #3e3e3e;
  padding:2.2%;
  font-size:105%;
  color:rgba(255,255,255,0.4);
}

.detail{
  padding-bottom:3%;
  padding-top:2%;
}
.badge{
  border:2px solid rgba(255,255,255,0.3);
  text-align:center;
  border-radius:25px;
  color:rgba(255,255,255,0.3);
}
#edit{
  margin-top:30%;
  cursor:pointer;
  font-size:70%;
  width:110%;
  padding-top:2px;
  padding-bottom:2px;
}
.create-join{
  margin-top:22vh;
}
#join-team{
  cursor:pointer;
}
#create-team{
  cursor:pointer;
}
.create-team .personal-info, .join-team .personal-info{
  background:#1876f6;
  color:rgba(255,255,255,0.9);
  padding-bottom:5.5%;
}
.create-team #edit{
  margin-top:2%;
  color:rgba(255,255,255,0.8);
  border-color:rgba(255,255,255,0.8);
}
.create-team i{
  cursor:pointer;
}
.search-teams{
  padding:20px;
  padding-bottom: 0px;
}
.search-teams input
{
  border-bottom: 1px solid rgba(0,0,0,0.5)!important;
  font-weight: bolder;
  color: #1876f6 !important;
}
.search-teams input::-webkit-input-placeholder,.search-teams textarea::-webkit-input-placeholder{
  color: #1876f6 !important;
}
.search-teams input[type=text]:focus
{
  border-bottom: 1px solid rgba(0,0,0,0.5)!important;
  outline:  0 !important;
  box-shadow: 0 !important;
}
.admin{
  font-size:130%;
  color:#1876f6;
  margin-top: 5px;
}
 #search{
  font-size: 90%;
  font-weight:200;
  border: 0.5px solid #c4d3fb !important;
  text-indent: 10px;
  background: #e3eafd;
  color: rgba(0, 0, 0,0.8);
  margin-bottom: 20px;
  border-radius:0px;
  text-align:center;
  height:35px;
}
#search:focus{
  border-bottom: 1px solid #c4d3fb !important;
  box-shadow: 0 0 0 0 #c4d3fb !important;
}
.tabs .tab a{
  color:#1876f6 !important;
}
.tabs .indicator{
  background-color:#1876f6 !important;
}

.join-team form{
  padding: 10%;
}
.join-team #search, .join-team #search::-webkit-input-placeholder{
  color: #1876f6;
}
.join-team .border-bottom i,.create-team .border-bottom i{
  display: inline;
  position: relative;
  top: -50px;
  left: 35vw;
}
.create-team .border-bottom i{
  left:35vw;
}
.team-info{
  color: #1876f6;
}
.team-info-header{
  padding-top: 10px;
  font-size: 1.5rem;
}
.team-info-header div{
  border-bottom: 1px solid #add0ff;
  padding-bottom: 10px!important;
}
.team-info-header .badge{
  margin-top: 1vh;
  float: right;
  width: 30%;
  font-size: 0.8rem;
  padding-bottom: 0px !important;
  color: #1876f6;
  border: 2px solid #1876f6;
}
.team-info small{
  color: #898989;
}
.team-details{
  padding: 2%;
}
.team-details .member{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #add0ff;
}
.team-details .member h5{
  font-size:120%;
}
.blue-bar{
  background:#1876f6;
  color:white;
  padding:10px;
  padding-left:20px;
}
.notification{
  padding:20px;
background:#f4f3f3;
}
#teamModal, #teamModalBig, #teamModalAfter,#teamModalAfterBig{
  width:35%;
  background:#3e3e3e;
  color:rgba(255,255,255,0.3)
}
#teamModal .modal-content, #teamModalBig .modal-content,#teamModalAfter .modal-content,#teamModalAfterBig .modal-content{
  padding-left:0;
  padding-right:0;
  padding-top:3%;
}
.modal-head{
  padding-bottom:10px;
  padding-left:5%;
}
.modal-body{
  padding-left:5%;
  padding-right:5%;
}
.modal-team-name{
  color:#1876f6;
  padding-bottom:2%;
  padding-top:2%;
  font-size:170%;
}
.modal-team-mem span{
  color:white;
}
.modal-team-mem{
  padding-top:2%;
  padding-bottom:2%;
  font-size:90%;
}
.modal-team-mem-status{
  line-height:90%;
  text-align:right;
  padding-top:9%;
}
.modal-team-mem-status small{
  color:#9e7d35;
  font-size:80%;
}
.search-member-results{
  height: 500px;
  overflow-y: scroll;
  margin-top: -42px;
}
.search-member-results .result{
  border: 1px solid rgba(0,0,0,0.2);
  padding: 3%;
  overflow-x: hidden;
}
.search-member-results i{
  color: #4CAF50!important;
}
.search-member-results::-webkit-scrollbar{
  width: 10px;
}
.details input[type=text],.details input[type=email],.details input[type=text]:focus,.details input[type=email]:focus{
  border-bottom: 0px solid rgba(0,0,0,0.5)!important;
  outline:  0 !important;
  box-shadow: 0 !important;
  margin-bottom:0;
}
.details .border-bottom{
  padding:0;
}
input[disabled=disabled]{
  color: rgba(255,255,255,0.7)!important;
}
.after-create-name{
  font-size: 140%;
}
.after-create-name a{
  font-size: 80%;
}
.after-create-table,.after-create-table tr,.after-create-table td{
  border: 1px solid rgba(0,0,0,0.4);
}
.after-create-table td{
  padding-left: 20px;
}
.custom-submit{
  background: transparent;
  border:2px solid #1876F6;
  outline: none;
  padding: 5px 20px;
  color:rgba(255,255,255,0.6);
}
.details .center{
  color: rgba(255,255,255,0.6);
}
.details .center .custom-submit{
  margin-top: 10px;
}
.join-team .fa-times{
  color: white!important;
}

.custom-button , .custom-button:focus {
  background: transparent;
  border:2px solid #1876F6;
  outline: none;
  padding: 5px 20px;
  cursor: pointer;
  margin: 20px;
}

@media(max-width:600px){
  .personal-info{
    margin-top:20px;
    padding-left:4%;
    font-size:105%;
  }
  .create-join{
    margin-top:20%;
  }
  #teamModal, #teamModalAfter{
    width:90%;
  }
  #edit{
    margin-top:48% !important;
    margin-right:5px !important;
  }
  .create-team .personal-info{
    margin-top:0;
    padding-bottom:10%;
  }
  .create-team #edit{
    margin-top:5% !important;
  }
  .join-team .personal-info{
    height: 50px;
  }
  .join-team .border-bottom i{
    left: 70vw;
  }
  .create-team .border-bottom i{
    left:80vw;
  }
  .team-info-header{
    font-size: 1rem;
  }
  .team-info-header .badge{
    font-size: 0.8rem;
    margin-top: 1px;
  }
  .after-create-table td{
    padding-left: 5px;
  }
}

.selector{
  border-bottom: 1px solid grey;
}
@media only screen and (min-device-width: 760px) and (max-device-width: 1023px){
  .team-info-header .badge{
    margin-top: 6.6vh;
  }
}
@media only screen and (min-device-width: 1440px) and (max-device-width: 1600px){
  .team-info-header .badge{
    margin-top: 0.6vh;
  }
}
@media only screen and (min-device-width: 1920px) and (max-device-width: 2000px){
  .team-info-header .badge{
    margin-top: 0.7vh;
  }
}
