
<div class="team-main">
    <div class="blue-bar">Hi John</div>
    <% invitations.forEach(function(team){ %>
        <div class="notification">
            <%= team.admin.name %> invited you to join his team - <%= team.name %>.
            <a class="waves-effect waves-teal btn-flat" href="/team/acceptInvite?teamId=<%- team._id.toString() %>">Accept</a>

            <a class="waves-effect waves-red btn-flat" href="/team/deleteInvite?teamId=<%- team._id.toString() %>">Reject</a>
        </div>
    <% }) %>
    <br><br>
    <div class="center">
        Create your own team<br>
        <a class="waves-effect waves-purple btn-flat" href="#/create">Create Team</a>
    </div>

    <!-- Modal Structure -->




    <div class="create-join center">
        <img src="images/addTeam.png" id="addTeamImg">
        <br><br>
        <div class="add-team-desc">
            <div class="col m10 l10 push-m1 push-l1">
                Your space seems to be empty. Before embarking on this mission we recommend you to <a
                        id="join-team" ng-click="join=!join;">join a team</a> or <a id="create-team">create
                    a team</a>
            </div>
        </div>
    </div>
</div>