<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GDG Devfest '16</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:300i,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/landing.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <meta name="theme-color" content="#232240">
    <script src="js/jquery.min.js"></script>
    <link rel="icon" href="images/gdg.png">
</head>

<body>
<nav class="transparent">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><img src="images/gdglogo_w.png"></a>
    <!-- activate side-bav in mobile view -->
    <!-- navbar for mobile -->
  </div>
</nav>
<!--Header-->
<div class="header" id="head">
    <div class="custom-overlay"></div>
    <div class="center Devfest">Devfest '16<br><span>Get ready for out of this world experience</span></div>
    <div class="center register-button"><a href="/register" class="custom-yellow-background">Register</a></div>
    <div class="astronaut"><img src="images/Astronaut.png"></div>
</div>
<!--End of header-->
<div class="graident">
<!--Registration-->
<div class="row register" >
    <br><br>
    <div class="row">
        <div class="col m6 push-m3">
        </div>
        <div class="container">
            <div class="row">
                <div class="col m6 s12 custom-right-border">
                    <div class="col m2 offset-m8 s3 push-s1 badge">
                        When?
                    </div>
                    <div class="col m6 offset-m6 s10 push-s1">
                        <div class="col m3 offset-m3 date">15</div> <div class="col m6   month-and-date"><span class="month">October</span> <br><span class="year">2016</span></div>
                    </div>
                </div>
                <div class="col  m6 s12 custom-padding">
                    <div class="col m2 s3 push-s1 badge">
                        Where?
                    </div><div class="col m9 offset-m3"></div>
                    <div class="col m8 s10 push-s1  where-content">
                        Homi Bhabha Gallery,<br>
                        SJT, VIT University<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="register_form">
        <div class="row contact  ">
            <div class="col m12 terms">
                <p>Welcome to the 2nd edition of DevFest in VIT.  We bring to you an outstanding set of speakers to share their knowledge and give you guidance.<br>
		<br>
		<b>An opportunity to learn, share and create something amazing during the 24 hour Hackathon</b></p><br>
		<br>
		<div class="container">
    		<div class="row col s12">
        	<div class="col m6 s12 l6 offset-l3 offset-m3 sponsor center "><img src="images/prizes_and_speakers.png"></div>
      		</div>
		</div>
		<p>We believe that spreading knowledge should not come at a cost, so all our events are free. For DevFest’16, we will be screening participants after the online registration.</p><br>
            </div>
        </div></div>
</div>
<!--End of Registration-->

<!--Speakers-->
<div class="row speakers">
    <h1 class="center heading">Speakers</h1>
    <div class="row">
    <div class="col m4 push-m2 s12 speaker center">
        <img src="images/Speaker2.jpg" class="rounded"><br>
        Manoranjan Padhy<br>
        Social Media & Community Manager<br>
        Google
    </div>
    <div class="col m4 push-m2 s12 speaker center">
        <img src="images/Speaker1.jpg" class="rounded"><br>
        Ashish Rajput<br>
        Co - Founder<br>
        Roder.in
    </div>
    </div>
  </div>
</div>
<div class="cutter">
  <img src="images/Cutter.png">
</div>
<div class="faq row">
  <h1 class="heading center">FAQ</h1>
  <div class="col m8 l8 s8 push-m2 push-l2 push-s2">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">What is a hackathon?</div>
        <div class="collapsible-body"><p>A hackathon is an intense session that brings together computer programmers, designers, and specialists to build a product within a stipulated period of time.</p></div>
      </li>
      <li>
        <div class="collapsible-header">Who should attend?</div>
        <div class="collapsible-body"><p>Anybody who has a knack for solving problems, likes to code, design and develop unique ideas and models are welcome to participate at the hackathon.</p></div>
      </li>
      <li>
        <div class="collapsible-header">What is the maximum team size?</div>
        <div class="collapsible-body"><p>A maximum of 3 members per team will be taken on a first come first serve basis. A total of 60 teams will be admitted to the hackathon.</p></div>
      </li>
      <li>
        <div class="collapsible-header">What is the judging criteria?</div>
        <div class="collapsible-body"><p>The complete end product that has been developed over the period of the hackathon is judged to see whether any new innovative idea has been brought to the table. The design and implementation of the code are also taken into account. The presentation of the product is also an important factor.</p></div>
      </li>
      <li>
        <div class="collapsible-header">What should I bring?</div>
        <div class="collapsible-body"><p>All the participants are required to bring their laptops and any material that the team requires to use during the hackathon. No material for the hack will be provided.</p></div>
      </li>
      <li>
        <div class="collapsible-header">How do I form a team?</div>
        <div class="collapsible-body"><p>If you do not already have a team you can come to the event and we will assign you to a team to participate for the hackathon.</p></div>
      </li>
      <li>
        <div class="collapsible-header">Will there be provision for food?</div>
        <div class="collapsible-body"><p>Yes, dinner that includes pizzas from dominos will be provided free of cost. The breakfast and lunch on 16th will not be provided till further notice.</p></div>
      </li>
    </ul>
  </div>
</div>
<div class="past-events">
<div class="past-events-header row">
    <h1 class="center heading">What went down in 2015?</h1>
</div>
<div class="past-events-events row">
    <div class="col s12 m4 l4 event event-1" style="min-height: 400px;background:url('images/node.jpg'); background-size:cover;">
        <h5 class="img-title">NodeJS Workshop</h5>
    </div>
    <div class="col s12 m4 l4">
        <div class="row">
            <div class="col s12 m12 l12 event event-2" style="min-height: 150px; background:url('images/DevFest15.jpg'); background-size:cover;">
                <h5 class="img-title">Devfest'15</h5>
            </div>
        </div>
        <div class="row" style="margin-top: -10%!important">
            <div class="col s12 m12 l12 event event-4" style="min-height: 250px; background:url('images/iwd.JPG'); background-size:cover;">
                <h5 class="img-title">IWD'16</h5>
            </div>
        </div>
    </div>
    <div class="col s12 m4 l4">
        <div class="row">
            <div class="col s12 m12 l12 event event-5" style="min-height: 400px; background:url('images/study_jam.jpg'); background-size:cover;">
                <h5 class="img-title">Android Study Jam</h5>
            </div>
        </div>
    </div>
</div>
</div><!--End of Past events-->

<div class="custom-gradient">
<!-- Our Patrons -->
  <div class="row patrons">
    <h1 class="heading center">Our Patrons</h1>
    <div class="row">
      <div class="col s12 m4 l4 push-l4 push-l4 center">
        <img src="images/gv.jpg" class="rounded"><br>
        G. Viswanathan<br>
        Chancellor
    </div>
    </div>
    <div class="col s12 m4 l4 center"><img src="images/vpa_small.jpg" class="rounded" style="border-radius:100% !important;"><br>Sankar Viswanathan</div>
    <div class="col s12 m4 l4 center"><img src="images/vpua_small.jpg" class="rounded"><br>Sekar Viswanathan</div>
    <div class="col s12 m4 l4 center"><img src="images/vpc_small.jpg" class="rounded"><br>G. V. Selvam</div>

    <div class="col s12 m4 l4 center"><img src="images/v_raju.JPG" class="rounded"><br>Prof. V. Raju</div>
    <div class="col s12 m4 l4 center"><img src="images/provc.jpg" class="rounded"><br>Prof. S. Narayanan</div>
    <div class="col s12 m4 l4 center"><img src="images/anand.jpg" class="rounded"><br>Dr. Anand A. Samuel</div>
  </div>
<!-- End of Patrons! -->
<!--Sponsors-->
<div class="row sponsors">
<h1 class="heading center">Sponsors</h1>
<br><br>
<div class="container">
    <div class="row col s12">
        <div class="col m6 s12 l6 offset-l3 offset-m3 sponsor center ">General sponsor<br><img src="images/googlelogo.png"></div>
      <!--
	 <div class="col m12 l12 s12 center">Platinum sponsors</div>

        <div class="col m6 s6 l3 sponsor center "><img src="images/gdm-foot-logo.png"></div>
        <div class="col m6 s6 l3 sponsor center "><img src="images/product_logo_128.png"></div>
        <div class="col m6 s6 l3 sponsor center "><img src="images/product_logo_128.png"></div>
        <div class="col m6 s6 l3 sponsor center "><img src="images/gdm-foot-logo.png"></div>

        <div class="col s12 m12 l12 center">Gold Sponsors</div>
        <div class="col m2 s4 l2 sponsor center"><img src="images/debian-logo.png"></div>
        <div class="col m2 s4 l2 sponsor center"><img src="images/Ubuntu.png"></div>
        <div class="col m2 s4 l2 sponsor center"><img src="images/debian-logo.png"></div>
        <div class="col m2 s4 l2 sponsor center"><img src="images/Ubuntu.png"></div>
        <div class="col m2 s4 l2 sponsor center"><img src="images/debian-logo.png"></div>
        <div class="col m2 s4 l2 sponsor center"><img src="images/Ubuntu.png"></div>

 </div>-->
    </div>
</div>
</div><!--End of sponsors-->
</div>
    <footer class="page-footer">
      <div class="col m4 center" id="social">
        <a class="" href="http://facebook.com/gdgvitvellore" target="_blank" ><i class="fa fa-facebook custom-social-icon custom-facebook"></i></a>
        <a href="http://gdgvitvellore.com" target="_blank"><i class="fa fa-globe custom-social-icon custom-facebook"></i></a>
        <a class="social-side" href="https://plus.google.com/+gdgvitvellore" target="_blank"><i class="fa fa-google-plus custom-social-icon"></i></a>
        <!-- <i class="fa fa-twitter  custom-social-icon"></i> -->
      </div>
      <br><br>
      <div class="row">
        <div class="center">
          <img src="images/gdg.png" id="footer-logo">
        </div>
      </div>
      <div class="row">
        <div class="col m10 s10 push-s1 push-m1">
          <hr id="footer-hr">
        </div>
      </div>
      <br>
        <div class="row">
          <div class="col s8 push-s2">
            <div class="footer-item col m4 s12 center grey-text" style="font-weight:700px;">
              <i style="font-size:24px;" class="grey-text fa fa-envelope"></i><br>
              MAIL<br>
              <a class="grey-text" href="mailto:gdgvitvellore@gmail.com">gdgvitvellore@gmail.com</a>
            </div>
            <div class="footer-item col m4 s12 center grey-text" style="font-weight:700px;">
              <i style="font-size:24px;" class="grey-text fa fa-phone"></i><br>
              CALL<br>
              <a class="grey-text" href="tel:+917708150636">+917708150636</a>
            </div>
            <div class="footer-item col m4 s12 center grey-text" style="font-weight:700px;">
              <i style="font-size:24px;" class="grey-text fa fa-map-marker"></i><br>
              FIND US<br>
              <a class="grey-text" href="">GDG, VIT UNIVERSITY</a>
            </div>
            <br>
            <br>
          </div>

        </div>
    </footer>
<!-- End of Second Footer-->
<script src="/js/materialize.min.js"></script>
<script>
  $(document).ready(function(){
    astroUp();
    <% if(errMessage && errMessage.length>0) { %>
        Materialize.toast(<%- JSON.stringify(errMessage) %>, 10000)
    <% } %>

    <% if(message && message.length>0) { %>
        Materialize.toast(<%- JSON.stringify(message) %>, 10000)
    <% } %>
    $('.collapsible').collapsible({
       accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
     });
  });

  function astroDown(){
    $('.astronaut').removeClass('translate-down-astro');
    $('.astronaut').addClass('translate-up-astro');
    setTimeout(astroUp,4000);
  }
  function astroUp(){
    $('.astronaut').removeClass('translate-up-astro');
    $('.astronaut').addClass('translate-down-astro');
    setTimeout(astroDown,3000);
  }
</script>
</body>
</html>
