<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GDG Devfest '17</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:300i,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/landing.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <meta name="theme-color" content="#232240">
    <script src="js/jquery.min.js"></script>
    <link rel="icon" href="images/gdg.png">
</head>

<body>
<nav class="transparent">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><img src="images/gdglogo_w.png"></a>
    <!-- activate side-bav in mobile view -->
    <!-- navbar for mobile -->
  </div>
</nav>
<!--Header-->
<div class="header" id="head">
    <div class="custom-overlay"></div>
    <div class="center Devfest">Devfest '17<br><span>Get ready for an out of the world experience</span></div>
<!--     <div class="problem-stmt hide-on-small-only"><div class="register-button"><a href="http://bit.ly/2dScuro" class="custom-yellow-background">Problem Statements</a></div></div>
 -->    <div class="astronaut"><img src="images/Astronaut.png"></div>
    <div class="center homepage-buttons" style="display:block;padding-top:65vh">
<!--         <div class="register-button"><a href="/login" class="custom-yellow-background">Login</a>
 -->        </div><br><br><br>
<!--          <div class="register-button"><a href="/timeline" class="custom-yellow-background">Event Timeline</a>
 -->        </div>
    </div>

</div>
<!--End of header-->
<div class="graident">
<!--Registration-->
<div class="row register" >
    <br><br>
    <div class="row">
        <div class="col m6 push-m3">
        </div>
        <div class="container">
          <div class="row">
              <div class="col m6 s12 custom-right-border">
                  <div class="col m2 offset-m7 pull-m3 s3 push-s1 badge">
                      When?
                  </div>
                  <div class="col m7 push-m4 s10 push-s1">
                      <div class="col m9 date">27-28</div> <div class="col m2 pull-m1 month-and-date"><span class="month">October</span> <br><span class="year">2017</span></div>
                  </div>
              </div>
              <div class="col  m6 s12 custom-padding">
                  <div class="col m2 s3 push-s1 badge">
                      Where?
                  </div><div class="col m9 offset-m3"></div>
                  <div class="col m8 s10 push-s1  where-content">
                      VIT University<br>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <div class="container" id="register_form">
        <div class="row contact  ">
            <div class="col m12 terms">
                <p>Welcome to the 3rd edition of DevFest in VIT.  We bring to you an outstanding set of speakers to share their knowledge and give you guidance.<br>
		<br>
		<b>An opportunity to learn, share and create something amazing during the 24 hour Hackathon</b></p><br>

		<br>
		<br>
		<p>We believe that spreading knowledge should not come at a cost, so all our events are free. For DevFest’17, we will be screening participants after the online registration.</p><br>
            </div>
        </div></div>
</div>
<!--End of Registration-->


<!--Speakers-->
<div class="row speakers">
    <h1 class="center heading">Speakers</h1>
    <h1 class="center heading"><b>To Be Announced</b></h1>

    <!-- <div class="row">
    <div class="col m4  s12 speaker center">
        <img src="images/Speaker2.jpg" class="rounded"><br>
        Manoranjan Padhy<br>
        Social Media & Community Manager<br>
        Google
    </div>
    <div class="col m4  s12 speaker center">
        <img src="images/Speaker1.jpg" class="rounded"><br>
        Ashish Rajput<br>
        Co - Founder<br>
        Roder.in
    </div>
    <div class="col m4  s12 speaker center">
        <img src="images/speaker_3.jpg" class="rounded"><br>
        Abhinav Cardea<br>
        CEO<br>
        Cardea Labs
    </div>
    </div> -->
  </div>
</div>
<div class="cutter">
  <img src="images/Cutter.png">
</div>
<div class="faq row">
  <h1 class="heading center">FAQ</h1>
  <div class="col m8 l8 s10 push-m2 push-l2 push-s1">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">What is a hackathon?</div>
        <div class="collapsible-body"><p>A hackathon is an intense session that brings together computer programmers, designers, and specialists to build a product within a stipulated period of time.</p></div>
      </li>
      <li>
        <div class="collapsible-header">Who should attend?</div>
        <div class="collapsible-body"><p>Anybody who has a knack for solving problems, likes to code, design and develop unique ideas and models are welcome to participate at the hackathon.</p></div>
      </li>
      <li>
        <div class="collapsible-header">What is the maximum team size?</div>
        <div class="collapsible-body"><p>A maximum of 3 members per team will be taken on a first come first serve basis. A total of 60 teams will be admitted to the hackathon.</p></div>
      </li>
      <li>
        <div class="collapsible-header">What is the judging criteria?</div>
        <div class="collapsible-body"><p>The complete end product that has been developed over the period of the hackathon is judged to see whether any new innovative idea has been brought to the table. The design and implementation of the code are also taken into account. The presentation of the product is also an important factor.</p></div>
      </li>
      <li>
        <div class="collapsible-header">What should I bring?</div>
        <div class="collapsible-body"><p>All the participants are required to bring their laptops and any material that the team requires to use during the hackathon. No material for the hack will be provided.</p></div>
      </li>
      <li>
        <div class="collapsible-header">How do I form a team?</div>
        <div class="collapsible-body"><p>If you do not already have a team you can come to the event and we will assign you to a team to participate for the hackathon.</p></div>
      </li>
      <li>
        <div class="collapsible-header">Will there be provision for food?</div>
        <div class="collapsible-body"><p>Yes, dinner that includes pizzas from dominos will be provided free of cost. The breakfast and lunch on 16th will not be provided till further notice.</p></div>
      </li>
    </ul>
  </div>
</div>
<div class="past-events">
<div class="past-events-header row">
    <h1 class="center heading">What went down in 2016?</h1>
</div>
<div class="past-events-events row">
    <div class="col s12 m4 l4 event event-1" style="min-height: 400px;background:url('images/node.jpg'); background-size:cover;">
        <h5 class="img-title">NodeJS Workshop</h5>
    </div>
    <div class="col s12 m4 l4">
        <div class="row">
            <div class="col s12 m12 l12 event event-2" style="min-height: 150px; background:url('images/DevFest15.jpg'); background-size:cover;">
                <h5 class="img-title">Devfest'16</h5>
            </div>
        </div>
        <div class="row" style="margin-top: -10%!important">
            <div class="col s12 m12 l12 event event-4" style="min-height: 250px; background:url('images/iwd.JPG'); background-size:cover;">
                <h5 class="img-title">WTM'16</h5>
            </div>
        </div>
    </div>
    <div class="col s12 m4 l4">
        <div class="row">
            <div class="col s12 m12 l12 event event-5" style="min-height: 400px; background:url('images/study_jam.jpg'); background-size:cover;">
                <h5 class="img-title">Introduction to Docker</h5>
            </div>
        </div>
    </div>
</div>
</div><!--End of Past events-->

<div class="custom-gradient">
<!-- Our Patrons -->
  <div class="row patrons">
    <h1 class="heading center">Our Patrons</h1>
    <div class="row">
      <div class="col s12 m4 l4 push-l4 push-l4 center">
        <img src="images/gv.jpg" class="rounded"><br>
        Dr. G. Viswanathan<br>
        Chancellor & Founder<br>
	VIT University
    </div>
    </div>
    <div class="col s12 m4 l4 center"><img src="images/vpa_small.jpg" class="rounded" style="border-radius:100% !important;"><br>Mr. Sankar Viswanathan<br>Vice President<br>VIT University</div>
    <div class="col s12 m4 l4 center"><img src="images/vpua_small.jpg" class="rounded"><br>Dr. Sekar Viswanathan<br>Vice President<br>VIT University</div>
    <div class="col s12 m4 l4 center"><img src="images/vpc_small.jpg" class="rounded"><br>Mr. G. V. Selvam<br>Vice President<br>VIT University</div>


    <div class="col s12 m4 l4 center"><img src="images/anand.jpg" class="rounded"><br>Dr. Anand A. Samuel<br>Vice Chancellor<br>VIT University</div>
    <div class="col s12 m4 l4 center"><img src="images/v_raju.JPG" class="rounded"><br>Dr. V. Raju<br>Pro-Vice Chancellor<br>VIT University</div>
    <div class="col s12 m4 l4 center"><img src="images/provc.jpg" class="rounded"><br>Dr. S. Narayanan<br>Pro-Vice Chancellor<br>VIT University</div>
  </div>
<!-- End of Patrons! -->
<!--Sponsors-->
<div class="row sponsors">
<h1 class="heading center">Sponsors</h1>
<br><br>
<div class="container">
    <div class="row">
        <div class="col m6 s12 l4 sponsor center ">
            <img class="responsive-img" src="images/balsamiq.png" >
        </div>
        <div class="col m6 s12 l4 sponsor center ">
            <img class="responsive-img" src="images/gdglogo.png" >
        </div>
        <div class="col offset-m3 m6 s12 l4 sponsor center ">
            <img class="responsive-img" src="images/gitlab.svg" >
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col offset-s3 s6 m2 offset-m2 sponsor other-sponsors center">
                <img class="responsive-img" src="images/skript.svg" >
            </div>
            <div class="col offset-s3 s6 m2 offset-m1 sponsor other-sponsors center">
                <img class="responsive-img" src="images/tech.png" >
            </div>
            <div class="col offset-s3 s6 m2 offset-m1 sponsor other-sponsors center">
                <img class="responsive-img" src="images/jetbrains.png" >
            </div>
        </div>
        <div class="row">
            <div class="col offset-s3 s6 m2 offset-m2 sponsor other-sponsors center">
                <img class="responsive-img" src="images/iconscout.png" >
            </div>
            <div class="col offset-s3 s6 m2 offset-m1 sponsor other-sponsors center">
                <img class="responsive-img" src="images/todoist.png" >
            </div>
            <div class="col offset-s3 s6 m2 offset-m1 sponsor other-sponsors center">
                <img class="responsive-img" src="images/doselect.png" >
            </div>
        </div>

        <div class="row">
            <div class="col offset-s3 s6 m2 offset-m3 sponsor other-sponsors center">
                <img class="responsive-img" src="images/docker.png" >
            </div>
            <div class="col offset-s3 s6 m2 offset-m2 sponsor other-sponsors center">
                <img class="responsive-img" src="images/npm.png" >
            </div>
        </div>

       <!-- <div class="col m6 s12 l6 offset-l3 offset-m3 sponsor center ">Title Sponsor<br>
       <img src="images/cardea-labs.png" style="max-height:220px; max-width:220px">
       <img src="images/mibeat.png">
       </div> -->

<!--        <div class="col m6 s12 l6 offset-l3 offset-m3 sponsor center ">Education Partner<br><img src="images/chalkstreet2.png"></div>
       <div class="col m6 s12 l6 offset-l3 offset-m3 sponsor center ">Platform Partner<br><img src="images/venturesity.png"></div>
 -->

    </div>
</div>
</div><!--End of sponsors-->
</div>
    <footer class="page-footer">
      <div class="col m4 center" id="social">
        <a class="" href="http://facebook.com/gdgvitvellore" target="_blank" ><i class="fa fa-facebook custom-social-icon custom-facebook"></i></a>
        <a href="http://gdgvitvellore.com" target="_blank"><i class="fa fa-globe custom-social-icon custom-facebook"></i></a>
        <a class="social-side" href="https://plus.google.com/+gdgvitvellore" target="_blank"><i class="fa fa-google-plus custom-social-icon"></i></a>
        <!-- <i class="fa fa-twitter  custom-social-icon"></i> -->
      </div>
      <br><br>
      <div class="row">
        <div class="center">
          <img src="images/gdg.png" id="footer-logo">
        </div>
      </div>
      <div class="row">
        <div class="col m10 s10 push-s1 push-m1">
          <hr id="footer-hr">
        </div>
      </div>
      <br>
        <div class="row">
          <div class="col s8 push-s2">
            <div class="footer-item col m4 s12 center grey-text" style="font-weight:700px;">
              <i style="font-size:24px;" class="grey-text fa fa-envelope"></i><br>
              MAIL<br>
              <a class="grey-text" href="mailto:gdgvitvellore@gmail.com">gdgvitvellore@gmail.com</a>
            </div>
            <div class="footer-item col m4 s12 center grey-text" style="font-weight:700px;">
              <i style="font-size:24px;" class="grey-text fa fa-phone"></i><br>
              CALL<br>
              <a class="grey-text" href="tel:+917708150636">+919414010878</a>
            </div>
            <div class="footer-item col m4 s12 center grey-text" style="font-weight:700px;">
              <i style="font-size:24px;" class="grey-text fa fa-map-marker"></i><br>
              FIND US<br>
              <a class="grey-text" href="">GDG, VIT UNIVERSITY</a>
            </div>
            <br>
            <br>
          </div>

        </div>
    </footer>
<!-- End of Second Footer-->
<script src="js/materialize.min.js"></script>
<script>
  $(document).ready(function(){
    astroUp();
    function astroDown(){
    $('.astronaut').removeClass('translate-down-astro');
    $('.astronaut').addClass('translate-up-astro');
    setTimeout(astroUp,4000);
  }
  function astroUp(){
    $('.astronaut').removeClass('translate-up-astro');
    $('.astronaut').addClass('translate-down-astro');
    setTimeout(astroDown,3000);
  }

    $('.collapsible').collapsible({
       accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
     });
  });


</script>
</body>
</html>
