<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GDG Devfest '16</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:300i,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <meta name="theme-color" content="#232240">
    <script src="js/jquery.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <link rel="icon" href="images/gdg.png">
  </head>
<body>
  <div class="container-fluid">
  <div class="row no-margin">
    <div class="hide-on-med-and-up">
   <div class="col s12">
     <ul class="tabs">
       <li class="tab col s3"><a class="active" href="#test1">Profile</a></li>
       <li class="tab col s3"><a href="#test2">Create Team</a></li>
     </ul>
   </div>
   <div id="test1" class="col s12 no-padding">
     <div class="col s12 no-padding no-margin" style="background:#3e3e3e;">
       <div class="row no-margin border-bottom">
         <div class="col s3 no-padding no-margin">
           <div class="menu-icon">
             <img src="images/menu.png">
           </div>
         </div>
         <div class="col s7 no-padding no-margin">
           <div class="personal-info">
             Personal Information
           </div>
         </div>
         <div class="col s2 no-padding no-margin">
           <div class="badge" id="edit">
             Edit
           </div>
         </div>
       </div>
       <div class="col s3 no-padding no-margin selectors-holder">
         <div class="selectors">
           <div class="row">
             <div class="selector">
               <img src="images/man.png">
             </div>
           </div>
         </div>
       </div>
       <div class="col s9 no-padding no-margin">
         <div class="details">
           <div class="detail border-bottom">
             <small>Name</small><br>Ankur Sarode
           </div>
           <div class="detail border-bottom">
             <small>Registration Number</small><br>15BCE0001
           </div>
           <div class="detail border-bottom">
             <small>Email Address</small><br>abc@gmail.com
           </div>
           <div class="detail border-bottom">
             <small>Contact</small><br>9881307445
           </div>
         </div>
       </div>
     </div>
   </div>
   <div id="test2" class="col s12 no-padding">
     <div class="team">
<!--      <div class="create-join center">
         <img src="images/addTeam.png" id="addTeamImg">
         <br><br>
         <div class="add-team-desc">
           <div class="col m10 l10 push-m1 push-l1">
             Your space seems to be empty. Before embarking on this mission we recommend you to <a id="join-team">join a team</a> or <a id="create-team">create a team</a>
           </div>
         </div>
       </div> -->
      <!-- <div class="create-team">
         <div class="row no-margin border-bottom">
           <div class="col s12 no-padding no-margin">
             <div class="personal-info">
               <div class="col s8">
                 Create Team
               </div>
               <div class="col s2 no-padding no-margin">
                 <div class="badge" id="edit">
                   Create
                 </div>
               </div>
               <div class="cols2 no-padding no-margin">
                 &nbsp&nbsp&nbsp&nbsp&nbsp<i class="fa fa-times "></i>
               </div>
             </div>
           </div>
         </div>
         <div class="row no-padding no-margin">
           <form action="" method="POST">
           <div class="search-teams">
             <div class="border-bottom">
               <small>Team Name</small><br>
               <input type="text" placeholder="Set Team Name">
             </div>
             <div class="border-bottom">
               <small>Team Members</small><br><span class="admin">Selena Gomez(admin)</span>
               <br><br>
               <input id="search" type="text" placeholder="Search and add member">
             </div>
           </div>
         </form>
         </div>
       </div> -->
       <!--<div class="join-team">
         <div class="row no-padding no-margin">
           <div class="col s12 no-padding no-margin">
             <div class="personal-info">
               <div class="col s8">
                 Join Team
               </div>
               <div class="col s1 push-s3 no-padding no-margin">
                 <i class="fa fa-times "></i>
               </div>
             </div>
            </div>
          </div>
         <div class="row no-margin no-padding">
           <form action="" method="POST">
               <div class="border-bottom">
                 <small>Team Name</small><br><br>
                 <input id="search" type="text" placeholder="Search Teams">
                 <i class="fa fa-search" style="color: #1876f6"></i>
                </div>
         </div>
       </form>
     </div> -->
     <div class="team-info">
       <div class="row no-padding no-margin">
         <div class="team-info-header">
           <div class="col s8">
             Google Developers VIT
           </div>
           <div class="col s4">
             <div class="badge">
               Leave
             </div>
           </div>
         </div>
         <div class="team-details">
           <br><br><br>
           <div class="member">
             <small>Member (Admin)</small>
             <h5>Selena Gomez (15BCE0538)</h5>
           </div>
           <div class="member">
             <small>Member</small>
             <h5>Rajat Mukati (15BCE0538)</h5>
           </div>
           <div class="member">
             <small>Member</small>
             <h5>Vishwajeetsinh Jadeja (15BCE0538)</h5>
           </div>
         </div>
       </div>
     </div>
     </div>
   </div>
 </div>
 </div>
    <div class="row no-margin hide-on-small-only">
      <div class="col m6 l6 no-padding no-margin" style="background:#3e3e3e;">
        <div class="row no-margin border-bottom">
          <div class="col m1 l1 no-padding no-margin">
            <div class="menu-icon">
              <img src="images/menu.png">
            </div>
          </div>
          <div class="col m9 l9 no-padding no-margin">
            <div class="personal-info">
              Personal Information
            </div>
          </div>
          <div class="col m1 l1 no-padding no-margin">
            <div class="badge" id="edit">
              Edit
            </div>
          </div>
        </div>
        <div class="col m1 l1 no-padding no-margin selectors-holder">
          <div class="selectors">
            <div class="row">
              <div class="selector">
                <img src="images/man.png">
              </div>
            </div>
          </div>
        </div>
        <div class="col m11 l11 no-padding no-margin">
          <div class="details">
            <div class="detail border-bottom">
              <small>Name</small><br>Ankur Sarode
            </div>
            <div class="detail border-bottom">
              <small>Registration Number</small><br>15BCE0001
            </div>
            <div class="detail border-bottom">
              <small>Email Address</small><br>abc@gmail.com
            </div>
            <div class="detail border-bottom">
              <small>Contact</small><br>9881307445
            </div>
          </div>
        </div>
      </div>
      <div class="col m6 l6 no-padding no-margin">
        <div class="team">
          <!--<div class="create-join center">
            <img src="images/addTeam.png" id="addTeamImg">
            <br><br>
            <div class="add-team-desc">
              <div class="col m10 l10 push-m1 push-l1">
                Your space seems to be empty. Before embarking on this mission we recommend you to <a id="join-team">join a team</a> or <a id="create-team">create a team</a>
              </div>
            </div>
          </div> -->
        <!-- <div class="create-team">
            <div class="row no-margin border-bottom">
              <div class="col m12 l12 no-padding no-margin">
                <div class="personal-info">
                  <div class="col m6 l6">
                    Create Team
                  </div>
                  <div class="col m1 l1 push-m4 push-l4 no-padding no-margin">
                    <div class="badge" id="edit">
                      Create
                    </div>
                  </div>
                  <div class="col m1 l1 push-m4 push-l4 no-padding no-margin">
                    &nbsp&nbsp&nbsp&nbsp&nbsp<i class="fa fa-times "></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="row no-padding no-margin">
              <form action="" method="POST">
              <div class="search-teams">
                <div class="border-bottom">
                  <small>Team Name</small><br>
                  <input type="text" placeholder="Set Team Name">
                </div>
                <div class="border-bottom">
                  <small>Team Members</small><br><span class="admin">Selena Gomez(admin)</span>
                  <br><br>
                  <input id="search" type="text" placeholder="Search and add member">
                </div>
              </div>
            </form>
            </div>
          </div>-->
        <!--  <div class="join-team">
            <div class="row no-padding no-margin">
              <div class="col m12 l12 no-padding no-margin">
                <div class="personal-info">
                  <div class="col m6 l6">
                    Join Team
                  </div>
                  <div class="col m1 l1 push-m5 push-l5 no-padding no-margin">
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i class="fa fa-times "></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="row no-margin no-padding">
              <form action="" method="POST">
                  <div class="border-bottom">
                    <small>Team Name</small><br><br>
                    <input id="search" type="text" placeholder="Search Teams">
                    <i class="fa fa-search" style="color: #1876f6"></i>
                  </div>
                </div>
              </form>
            </div> -->
            <div class="team-info">
              <div class="row no-padding no-margin">
                <div class="team-info-header">
                  <div class="col m8 l8">
                    Google Developers VIT
                  </div>
                  <div class="col m4 l4">
                    <div class="badge">
                      Leave
                    </div>
                  </div>
                </div>
                <div class="team-details">
                  <br><br><br>
                  <div class="member">
                    <small>Member (Admin)</small>
                    <h5>Selena Gomez (15BCE0538)</h5>
                  </div>
                  <div class="member">
                    <small>Member</small>
                    <h5>Rajat Mukati (15BCE0538)</h5>
                  </div>
                  <div class="member">
                    <small>Member</small>
                    <h5>Vishwajeetsinh Jadeja (15BCE0538)</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  $(document).ready(function(){
  $('ul.tabs').tabs();
});
</script>
</html>
