<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GDG Devfest '16</title>
    <!--    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:300i,400" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    -->
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <meta name="theme-color" content="#232240">
    <script src="js/jquery.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="js/angular-script.js"></script>
    <link rel="icon" href="images/gdg.png">
</head>
<body ng-app="app">
<div class="container-fluid" ng-controller="controller">
    <div class="row no-margin">
        <div class="col s12 m6 l6 no-padding no-margin hide-on-small-only" style="background:#3e3e3e;">
            <div class="row no-margin border-bottom">
                <div class="col m1 l1 no-padding no-margin">
                    <div class="menu-icon">
                        <img src="images/menu.png">
                    </div>
                </div>
                <div class="col m9 l9 no-padding no-margin">
                    <div class="personal-info">
                        Personal Information
                    </div>
                </div>
                <div class="col m1 l1 no-padding no-margin">
                    <div class="badge" id="edit" ng-click="edit=!edit">
                        Edit
                    </div>
                </div>
            </div>
            <div class="col m1 l1 no-padding no-margin selectors-holder">
                <div class="selectors">
                    <div class="row">
                        <div class="selector">
                            <img src="images/man.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col m11 l11 no-padding no-margin">
                <div class="details">
                    <form name="details" action="" method="POST">
                        <div class="detail border-bottom">
                            <small>Name</small>
                            <br>
                            <input ng-disabled="edit" type="text" class="profile-input" value="Ankur Sarode">
                        </div>
                        <div class="detail border-bottom">
                            <small>Registration Number</small>
                            <br>
                            <input type="text" ng-disabled="edit" class="profile-input" value="15BCE0001">
                        </div>
                        <div class="detail border-bottom">
                            <small>Email Address</small>
                            <br>
                            <input type="email" ng-disabled="edit" class="profile-input" value="asd@gmail.com">
                        </div>
                        <div class="detail border-bottom">
                            <small>Contact</small>
                            <br>
                            <input type="text" ng-disabled="edit" class="profile-input" value="9999999999">
                        </div>
                        <br><br>
                        <div class="center" ng-hide="edit">
                            You can edit your details now<br>
                            <button class="custom-submit" type="submit">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6 no-padding no-margin">
            <div class="team">
                <div ng-view></div>
            </div>
        </div>
    </div>
</div>
</div>


</body>
<script>
    $(document).ready(function () {
        $('ul.tabs').tabs();
        $('.modal-trigger').leanModal();
    });
</script>
</html>
