<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GDG Devfest '16 | Register</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Lato:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/timeline.css">
    <meta name="theme-color" content="#232240">
    <script src="js/jquery.min.js"></script>
    <script src="js/formValidate.js"></script>
    <link rel="icon" href="images/gdg.png">
  </head>
  <body>
    <div class="row background-holder">
      <img src="images/registertext1.png">
      <p>
        <a href="/register">Register to be a part of our awesome event.</a>
      </p>
    </div>

  <div class="timeline-holder">
    <div class="row">

      <div class="col m8 l8 s10 push-s1 push-m2 push-l2">
        <div class="timeline-heading">
          Schedule
        </div>
        <div class="col m2 l2 s12">
          <div class="time">
            14<span>00</span>
          </div>
        </div>
        <div class="col m10 l10 s12">
          <div class="time-card">
            <div class="card-img" style="background-image: url('images/timeline6.jpg');background-position: right;"><div class="card-img-overlay">Registrations<br><span>Gear Up</span></div></div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col m8 l8 s10 push-s1 push-m2 push-l2">
        <div class="col m2 l2 s12">
          <div class="time">
            14<span>45</span>
          </div>
        </div>
        <div class="col m10 l10 s12">
          <div class="time-card">
            <div class="card-img" style="background-image: url('images/timeline4.jpg');background-position: bottom;"><div class="card-img-overlay">Introduction<br><span>Get Ready</span></div></div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col m8 l8 s10 push-s1 push-m2 push-l2">
        <div class="col m2 l2 s12">
          <div class="time">
            15<span>00</span>
          </div>
        </div>
        <div class="col m10 l10 s12">
          <div class="time-card">
            <div class="card-img  speaker-card" style="background-image: url('images/timeline1.jpg');background-position: left;">
              <div class="card-img-overlay">
                Keynote by Manoranjan Padhy<br>
                <span><i class="material-icons">perm_identity</i>Social Media & Community Manager, Google</span><br>
                <span><i class="material-icons">today</i>Firebase</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col m8 l8 s10 push-s1 push-m2 push-l2">
        <div class="col m2 l2 s12">
          <div class="time">
            16<span>00</span>
          </div>
        </div>
        <div class="col m10 l10 s12">
          <div class="time-card">
            <div class="card-img" style="background-image: url('images/timeline7.jpg');background-position: center;"><div class="card-img-overlay">Initial Pitch<br><span>Ideas?</span></div></div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col m8 l8 s10 push-s1 push-m2 push-l2">
        <div class="col m2 l2 s12">
          <div class="time">
            17<span>30</span>
          </div>
        </div>
        <div class="col m10 l10 s12">
          <div class="time-card">
            <div class="card-img" style="background-image: url('images/timeline3.jpg');background-position: center;"><div class="card-img-overlay">Hack<br><span>Get started</span></div></div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col m8 l8 s10 push-s1 push-m2 push-l2">
        <div class="col m2 l2 s12">
          <div class="time">
            20<span>30</span>
          </div>
        </div>
        <div class="col m10 l10 s12">
          <div class="time-card">
            <div class="card-img" style="background-image: url('images/timelineD.jpg');background-position: center;"><div class="card-img-overlay">Dinner<br><span>Refill !</span></div></div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col m8 l8 s10 push-s1 push-m2 push-l2">
        <div class="col m2 l2 s12">
          <div class="time">
            21<span>30</span>
          </div>
        </div>
        <div class="col m10 l10 s12">
          <div class="time-card">
            <div class="card-img" style="background-image: url('images/timeline0.jpg');background-position: top;"><div class="card-img-overlay">Hack<br><span>Continues</span></div></div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col m8 l8 s10 push-s1 push-m2 push-l2">
        <div class="col m2 l2 s12">
          <div class="time">
            02<span>00</span>
          </div>
        </div>
        <div class="col m10 l10 s12">
          <div class="time-card">
            <div class="card-img" style="background-image: url('images/timelineS.jpg');background-position: center;"><div class="card-img-overlay">Snack<br><span>Restore !</span></div></div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col m8 l8 s10 push-s1 push-m2 push-l2">
        <div class="col m2 l2 s12">
          <div class="time">
            02<span>15</span>
          </div>
        </div>
        <div class="col m10 l10 s12">
          <div class="time-card">
            <div class="card-img" style="background-image: url('images/timeline3.jpg');background-position: center;"><div class="card-img-overlay">Hack<br><span>Continues</span></div></div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col m8 l8 s10 push-s1 push-m2 push-l2">
        <div class="col m2 l2 s12">
          <div class="time">
            07<span>00</span>
          </div>
        </div>
        <div class="col m10 l10 s12">
          <div class="time-card">
            <div class="card-img" style="background-image: url('images/timelineB.jpg');background-position: center;"><div class="card-img-overlay">Breakfast<br><span></span></div></div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col m8 l8 s10 push-s1 push-m2 push-l2">
        <div class="col m2 l2 s12">
          <div class="time">
            08<span>00</span>
          </div>
        </div>
        <div class="col m10 l10 s12">
          <div class="time-card">
            <div class="card-img" style="background-image: url('images/timeline0.jpg');background-position: top;"><div class="card-img-overlay">Hack<br><span>Continues</span></div></div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col m8 l8 s10 push-s1 push-m2 push-l2">
        <div class="col m2 l2 s12">
          <div class="time">
            13<span>00</span>
          </div>
        </div>
        <div class="col m10 l10 s12">
          <div class="time-card">
            <div class="card-img" style="background-image: url('images/timelineL.jpg');background-position: center;"><div class="card-img-overlay">Lunch<br><span>Refill !</span></div></div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col m8 l8 s10 push-s1 push-m2 push-l2">
        <div class="col m2 l2 s12">
          <div class="time">
            14<span>00</span>
          </div>
        </div>
        <div class="col m10 l10 s12">
          <div class="time-card">
            <div class="card-img" style="background-image: url('images/timeline3.jpg');background-position: center;"><div class="card-img-overlay">Hack<br><span>Continues</span></div></div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col m8 l8 s10 push-s1 push-m2 push-l2">
        <div class="col m2 l2 s12">
          <div class="time">
            16<span>00</span>
          </div>
        </div>
        <div class="col m10 l10 s12">
          <div class="time-card">
            <div class="card-img" style="background-image: url('images/timelineP.jpg');background-position: center;"><div class="card-img-overlay">Pitch of top 20 teams<br><span>Present your work</span></div></div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col m8 l8 s10 push-s1 push-m2 push-l2">
        <div class="col m2 l2 s12">
          <div class="time">
            17<span>00</span>
          </div>
        </div>
        <div class="col m10 l10 s12">
          <div class="time-card">
            <div class="card-img  speaker-card" style="background-image: url('images/timeline1.jpg');background-position: left;">
              <div class="card-img-overlay">
                Keynote by Ashish Rajput<br>
                <span><i class="material-icons">perm_identity</i>Co - Founder, Roder.in</span><br>
                <span><i class="material-icons">today</i>Latest trends in technology</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col m8 l8 s10 push-s1 push-m2 push-l2">
        <div class="col m2 l2 s12">
          <div class="time">
            18<span>30</span>
          </div>
        </div>
        <div class="col m10 l10 s12">
          <div class="time-card">
            <div class="card-img" style="background-image: url('images/timelinePr.jpg');background-position: center;"><div class="card-img-overlay">Prize Distribution<br><span>congratulations</span></div></div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  </body>
</html>
